h1 {
    background-color: green;
    /* width: 400px;
    height: 400px; */
    display: inline;
}

span {
    background-color: yellow;
    width: 20%;
    /* height: 500px; */
    display: block;
}

h2 {
    display: inline-block;
    background-color: blue;
    color: white;
    height: 300px;
}

img {
    /* display: none; */
    visibility: hidden;
}