/* .parent > .card {
    border: 2px solid lightgray;
    width: 300px;   
}

.parent > .card > .card-banner > img {
    width: 100%;
} */

/* .parent > .card > .card-text { */
    /* position: relative; */
    /* position: absolute; */
    /* top: 45px; */
/* } */


.para {
    background-color: tomato;
    /* position: fixed; */
    position: sticky;
    top: 0px;
}