.box {
    width: 200px;
    height: 75px;
    background-color: red;
    /* transition-property: background-color;
    transition-duration: 2s;
    transition-timing-function: ease-in-out; */
    transition: background-color 2s ease-in-out;
}

.box:hover {
    background-color: blue;
}