.card {
    background-color: black;
    width: 300px;
    height: 200px;
    /* transform: translateX(25px); */
    /* transform: translateY(25px); */
    /* transform: rotate(45deg); */
    /* transform: skew(45deg); */
    /* transform: scale(1.8); */
}